#LeftMenu {
    width: 300px;
    height: 100%;
    margin-left: 10px;
}

#LeftMenu_Tab {
    height: 30px;
    /* width: 100%; */
    display: flex;
    position: absolute;
}

#LeftMenu_Tab>div{
    line-height: 30px;
    border: 1px solid #404040;
    width: 100px;
    border-top-right-radius: 15px;
    margin-left: -1px;
    background-color: #dfdfdf;
}

#LeftMenu_Tab>div:nth-child(1){
    margin-left: 0;
}

#LeftMenu_Content {
    margin-top: 29px;
    width: 100%;
    height: calc(100% - 29px);
    border: 1px solid #404040;
}